<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <title>Botman - Vuejs</title>
</head>

<body>
    <div class="container">
        <h1 class="jumbotrom">GDIT Website</h1>
    </div>

    <!-- Chatbot Widget -->
    <a href="#" class="btn-widget">Chatbot</a>
    <div class="chat-widget" id="chat" style="display: none;">
        <div class="chat-header clearfix">
            <div class="chat-title">
                <h4>Chatbot</h4>
            </div>
            <div class="btn_close">
               <a href="#" class="btn" @click="showChat">X</a> 
            </div>
        </div>
        <div class='message-area'>
            <div v-for="item in dataMessage" class="chat-message clearfix" v-bind:class="[item.from ? 'chat-message-sender' : 'chat-message-recipient']">
                <div class="chat-message-wrapper">
                    <div class="chat-message-content">
                        <p>{{item.text}}</p>
                    </div>
                </div>
                <div class="services clearfix" v-if="item.original.type == 'actions'">
                    <a href="#" class="service-item" v-for="action in item.original.actions" v-on:click="performAction(action.value, item.original)">
                        {{ action.text }}
                    </a>
                </div>
            </div>
        </div>
        <div class="area-chat">
            <input class="ipt-message" v-model="textSender" v-on:keyup.13="senderMessage" autofocus placeholder="Nhập tin nhắn">
        </div>
    </div>
    <!-- /Chatbot Widget -->

    <script type="text/javascript">
    var btn_widget = document.querySelector('.btn-widget');
    btn_widget.addEventListener('click', function(){
        var divChat = document.getElementById('chat');
        if (divChat.style.display !== 'none') {
            divChat.style.display = 'none';
        }
        else {
            divChat.style.display = 'block';
        }
    });

    var btn_close = document.querySelector('.btn');
    btn_close.addEventListener('click', function(){
        alert('qwd');
    });

    Vue.http.options.emulateJSON = true;
    var app = new Vue({
        el: '#chat',
        data: {
            textSender: '',
            dataMessage: []
        },
        created: function() {
            this.callApi('hi');
        },
        methods: {
            showChat: function() {
                this.$el.style.display = 'none';
            },
            senderMessage: function(event) {
                if (this.textSender == '') return false;
                let text = this.textSender;
                this.textSender = '';
                this._addMessage(text, null, true);
                this.callApi(text);
            },
            _addMessage: function(text, attachment = null, from = false, original = {}) {
                this.dataMessage.push({
                    text: text.toLowerCase(),
                    attachment: attachment,
                    original: original,
                    from: from,
                });
            },

            callApi: function(message, interactive = false, callback) {
                let datatest = {
                    driver: 'web',
                    userId: 'jh5yalfferty',
                    interactive,
                    message: message,
                };

                this.$http.post('http://localhost:8000', datatest).then(function(response) {
                    const messages = response.body.messages || [];
                    messages.forEach(msg => {
                        this._addMessage(msg.text, null, false, msg);
                    });
                    if (callback) {
                        callback(response.body);
                    }
                }).then(function() {
                    this.scrollToEnd();
                });
            },

            performAction: function(value, message) {
                this._addMessage(value, null, true);
                this.callApi(value, true, (response) => {
                    message.actions = null;
                });
            },

            scrollToEnd: function() {
                let container = document.querySelector(".message-area");
                container.scrollTo(0, container.scrollHeight);
            }

        },
    })
    </script>
</body>

</html>
